h1{
    text-align: center;
    font-family: "Georgia", serif;
}

.form-info{
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    color: rgb(120, 120, 120);
}

p{
    font-size: 20px;
    text-align: justify;
}

fieldset{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    width: 500px;
    background-color: rgb(243, 238, 238);
    text-align: left;
}

.submit{
    display: flex;
    margin: 20px auto;
    padding: 10px;
    width: 25%;
}

.reset{
    display: flex;
    margin: 20px auto;
    padding: 10px;
    width: 25%;
}

.btn-group{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.submit, .reset {
  padding: 10px;
  width: 25%;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


